[submodule "Tools/glslEditor"]
	path = Tools/glslEditor
	url = https://github.com/patriciogonzalezvivo/glslEditor.git
[submodule "proj/refer repos/raytracing.github.io"]
	path = proj/refer repos/raytracing.github.io
	url = https://github.com/RayTracing/raytracing.github.io.git
[submodule "proj/refer repos/thebookofshaders"]
	path = proj/refer repos/thebookofshaders
	url = https://github.com/patriciogonzalezvivo/thebookofshaders.git
[submodule "proj/refer repos/OptiX_Apps"]
	path = proj/refer repos/OptiX_Apps
	url = https://github.com/NVIDIA/OptiX_Apps.git
[submodule "Tools/glslViewer"]
	path = Tools/glslViewer
	url = https://github.com/patriciogonzalezvivo/glslViewer.git
